<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files desktopClient.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files mobileClient.php>
    Order Allow,Deny
    Allow from all
</Files>

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)? index.php?url=$1 [L,QSA] 

Options -Indexes
