/*#01577A Donkerblauw*/
/*#464648 Donkergrijs*/

/* FOR DOUBLE BORDER
.borders{position:relative; z-index:10; padding:10px; background:#fff; border:2px solid #390; }
.borders:before{content:""; display:block; position:absolute; z-index:-10; top:0px; left:0px; 
bottom:0px; border:5px solid #36F}
*/

html {
	background: url(../images/achtergrondGrijs.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-position: 100% 100%;
	-moz-transform: scale(1.3); /* for Firefox, default 1*/
    zoom:130%; /* For Chrome, IE, default 100%*/
	overflow-x: hidden;
}

#wit {
	-moz-transform: rotate(-9deg);
	-ms-transform: rotate(-9deg);
	-webkit-transform: rotate(-9deg);
	transform: rotate(-9deg);
	background-color: white;
	width: 120%;
	height: 50%;
	position: absolute;
	z-index: -1;
	top: calc(50% - 165px);
	left: -8%;
	
	
}

body {
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	overflow-x: hidden;
}


.container {
	max-width: 100%;
	height: auto;
	display: flex;
}

#column-left {
	flex: 1;
	order: 1;
	text-align: right;
	flex-basis: 45%;
	margin-right: 4%;

}

#column-right {
	flex: 1;
	order: 2;
	text-align: left;
	flex-basis: 45%;
	margin-left: 4%;
	
}

@media (min-width: 900px) {
	.container {
/*		qqqqqqqq*/
		
	}
}

.button {
	background-color: #01577A;
	color: white;
	padding: 4px 18px 4px 18px;
	font-size: 13px;
	margin-bottom: 5px;
	position: relative;
	left: 7.5%;
	width: 15%;
}

a:link {
	color: #464648;
	text-decoration: none;
	font-size: 10px;
}

.button:active, .button:hover, .button:focus {
	cursor: pointer;
	outline: none;
	
}

.input {
	padding: 10px;
	margin-bottom: 10px;
	background-color: white;
	background: url(../images/inputbox.png) no-repeat;
	width: 30%;
}

input:-webkit-autofill { -webkit-box-shadow:200px 200px 100px white inset; box-shadow:200px 200px 100px white inset; }

.emailLogo {
	
	height: 20;
	width: 20;
	position: relative;
	right: 4.5%;
	top: 6px;
	z-index: 99;

}

.passwordLogo {
	
	height: 21;
	width: 23;
	position: relative;
	right: 4.5%;
	top: 6px;
	z-index: 99;

}

.logo {
	position: relative;
	left: 7.5%;

}

.forgot_password {
	position: relative;
	left: 9%;
}

#footer {
	color: white;
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
	
}