/*#01577A Donkerblauw*/
/*#464648 Donkergrijs*/
/* #0ba2dd Lichtblauw */
/* #b32704 Rood*/
/* #4cb002 Groen*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); / make transparent link selection, adjust last value opacity 0 to 1.0 /
  -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-touch-callout: none;
 -moz-touch-callout: none;
 -ms-touch-callout: none;
 touch-callout: none;
 -webkit-user-drag: none;
 -moz-user-drag: none;
 -ms-user-drag: none;
 user-drag: none;
}

input[type="text"], textearea {
 -webkit-user-select: auto !important;
 -khtml-user-select: auto !important;
 -moz-user-select: auto !important;
 -ms-user-select: auto !important;
 user-select: auto !important;
}

html {
	background: url("../images/achtergrondGrijs.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-position: 100% 100%;
	-moz-transform: scaleY(1.0); /* for Firefox, default 1*/
    zoom:100%; /* For Chrome, IE, default 100%*/
	overflow-x: hidden;
}

@keyframes logInRecIn { 
	from {  
		-moz-transform: translate(-50%, -50%) rotate(-9deg) scaleY(0);
		-ms-transform: translate(-50%, -50%) rotate(-9deg) scaleY(0);
		-webkit-transform: translate(-50%, -50%) rotate(-9deg) scaleY(0);
		transform: translate(-50%, -50%) rotate(-9deg) scaleY(0); 
	} 
	
	to {  
		-moz-transform: translate(-50%, -50%) rotate(-9deg) scaleY(1);
		-ms-transform: translate(-50%, -50%) rotate(-9deg) scaleY(1);
		-webkit-transform: translate(-50%, -50%) rotate(-9deg) scaleY(1);
		transform: translate(-50%, -50%) rotate(-9deg) scaleY(1); 
	} 
}

#wit {
	-moz-transform: translate(-50%, -50%) rotate(-9deg) scaleY(0);
	-ms-transform: translate(-50%, -50%) rotate(-9deg) scaleY(0);
	-webkit-transform: translate(-50%, -50%) rotate(-9deg) scaleY(0);
	transform: translate(-50%, -50%) rotate(-9deg) scaleY(0);
	background-color: white;
	width: 520%;
	height: 400px;
	position: fixed;
	z-index: -1;
	top: 50%;
	left: 50%;
	
	animation: logInRecIn 0.7s ease-in-out 0.3s;
	 -webkit-animation-fill-mode: forwards;
}

#wit.small {
	height: 270px; 
}

body {
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	overflow-x: hidden;
}


.container {
	max-width: 100%;
	height: auto;
}

.logo {
	width: 90px;

	opacity:0;  
	-webkit-animation:container2 ease-in 1;  
	-moz-animation:container2 ease-in 1;
	animation:container2 ease-in 1;
 
	animation: container2 0.3s ease-in-out 0.7s;
	-webkit-animation-fill-mode:forwards; 
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	
}

.container2 {
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	
}

#column-left {
	text-align: center;
	width: 50%;
	float: left;
	display: flex;
	position: relative;
	
}

#qrcode {
	width: 100%;
	min-height: 100px;
	
}

@keyframes logInQrIn { 
	from { 
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		transform: scale(0);
	} to { 
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	} 
}

#qrcode img {
	width: 45%;
	height: auto;
	float: right;
	margin-right: 48px;
	max-width: 260px;
	min-width: 230px; 
	animation: logInQrIn 0.5s ease-in-out 0.45s;
 	-webkit-animation-fill-mode: forwards;
	
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	
}

#container-right {
	width: 100%;
	min-height: 100px;
}

#container-right2 {
	float: left;
	width: 191px;
	margin-left: 48px;
}

#column-right {
	text-align: center;
	width: 50%;
	float: left;
}


form {
	width: 191px;
}

@media (max-height: 900px) {
	.container {
/*		qqqqqqqq*/
	
	}
}

#footer {
	color: grey;
	width: 100%;
}

.button {
	background-color: #01577A;
	border: 0px;
	color: white;
	padding: 4px 18px 4px 18px;
	font-size: 16px;
	width: 100px;
	height: 30px;
	display: block;
	margin: 0 auto 5px;
	transition: background-color 0.2s ease-in-out 0s;
	
		opacity:0; 
	-webkit-animation:container2 ease-in 1; 
	-moz-animation:container2 ease-in 1;
	animation:container2 ease-in 1;
 
	animation: container2 0.3s ease-in-out 0.7s;
	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

a:link {
	color: #464648;
	text-decoration: none;
	font-size: 10px;
}

.button:active, .button:hover, .button:focus {
	cursor: pointer;
	outline: none;
}

.button:hover {
	background-color: #0ba2dd;
}

button:active, button:focus {
	background-color: #464648 !important;
}

@keyframes recInInput {
 0% {
  opacity: 0;
  width: 0px;
  border-left: 0.5px solid #b8b7be;
 }
 
 20%{
  opacity: 1;
  width: 0px;
  border-left: 0.5px solid #b8b7be;
 }
 
 45% {
  opacity: 1;
  width: 95.5px;
  border-left: 5px solid #015679;
 }
 
 70% {
  opacity: 1;
  width: 191px;
  border-left: solid 10px #01577A;
 }
 
 100% {
  opacity: 1;
  width: 191px;
  border-left: solid 10px #01577A;
	 z-index: -99;
 }
}

.input {
	padding: 12px 40px 12px 8px;
	border-radius: 1px 2px 0px 0px;	
	display: block;
	margin: 0 auto 10px;
	outline: 0;
	width: 191px;
	
animation: recInInput 0.4s ease-in-out 0.65s;
 opacity: 0;
 border-left: 0.5px solid #b8b7be;
 border-right: 0.5px solid #b8b7be;
 border-top: 0.5px solid #b8b7be;
 border-bottom: 0.5px solid #b8b7be;
 -webkit-animation-fill-mode: forwards;
 animation-fill-mode: forwards;
	
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s;
}

.input.loaded {
 animation: none !important;
 opacity: 1 !important;
 width: 191px !important;
border-left: solid 10px #015679;
}

.submitted .input:invalid {
	border-left: 10px solid #b32704 !important;
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s;
}

form .input.loaded.shake-horizontal.shake-constant, .emailLogo.shake-horizontal.shake-constant, .passwordLogo.shake-horizontal.shake-constant {
	animation-name: shake-horizontal !important;
    animation-duration: 2800ms !important;
    animation-timing-function: ease-in-out !important;
    animation-iteration-count: infinite !important;
	animation-delay: 0s !important;
	opacity: 1 !important;
}

.emailLogo.shake-horizontal.shake-constant, .passwordLogo.shake-horizontal.shake-constant {
	opacity: 1 !important;
}

.input:valid {
	border-left: 10px solid #4cb002 !important;
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s;
}

.error #username, .error #password {
	border-left: 20px solid #b32704 !important;
	transition: border-left 0.3s ease 0s, width 0s ease 0s, opacity 0s ease 0s;
}

input:focus {
	border-left: solid 10px #0ba2dd !important;
		 box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
		 border-right: 0.5px solid #b8b7be;
		 border-top: 0.5px solid #b8b7be;
		 border-bottom: 0.5px solid #b8b7be;
		 animation-play-state: paused;
		 animation: none;
		 opacity: 1;
		 width: 191px;
}

input:-webkit-autofill { -webkit-box-shadow:200px 200px 100px white inset; box-shadow:200px 200px 100px white inset; }

@-webkit-keyframes container2 { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes container2 { from { opacity:0; } to { opacity:1; } }
@keyframes container2 { from { opacity:0; } to { opacity:1; } }
@-ms-keyframes container2 { from { opacity:0; } to { opacity:1; } }
@-o-keyframes container2 { from { opacity:0; } to { opacity:1; } }

.emailLogo {
	height: auto;
	width: 24;	
	margin-left: 160px;
	margin-top: -44px;
	z-index: 99;
	display: block;
	margin-bottom: 18px;
	position: relative;
	
	opacity:0;  
	-webkit-animation:container2 ease-in 1; 
	-moz-animation:container2 ease-in 1;
	animation:container2 ease-in 1;
 
	animation: container2 0.5s ease-in-out 0.7s;
	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 }

.passwordLogo {
	height: auto;
	width: 30;
	display: block;
	margin-left: 155.5px;	
	margin-top: -47px;
	z-index: 99;
	position: relative;
	
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:container2 ease-in 1;  
	-moz-animation:container2 ease-in 1;
	animation:container2 ease-in 1;
 
	animation: container2 0.5s ease-in-out 0.7s;
	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.forgot_password a {
	font-size: 11px;
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:container2 ease-in 1; 
	-moz-animation:container2 ease-in 1;
	animation:container2 ease-in 1;
 
	animation: container2 0.3s ease-in-out 0.7s;
	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

@keyframes lijn { from {  height: 0px; } to {  height: 82%; } }
@-moz-keyframes lijn { from {  height: 0px; } to {  height: 82%; } }
@-webkit-keyframes lijn { from {  height: 0px; } to {  height: 82%; } }
@-ms-keyframes lijn { from {  height: 0px; } to {  height: 82%; } }
@-o-keyframes lijn { from {  height: 0px; } to {  height: 82%; } }

/* KLEINE BOUNCE@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ LIJN PROCENTEN ENZO*/
.lijn {
	position: absolute;
	display: block;
    margin: auto;
	left: 50%;
	height: 0px;
	top: 50%;	
	transform: translate(-50%, -50%);	
	
	animation: lijn 0.7s ease-in-out 0.3s;
	 -webkit-animation-fill-mode: forwards;
}



#footer {
	width:100%;	
	position:absolute;
	bottom:13px;
	left:0;
	color: white;
	font-size: 12px;
	
		opacity:0;  
	-webkit-animation:container2 ease-in 1;  
	-moz-animation:container2 ease-in 1;
	animation:container2 ease-in 1;
 
	animation: container2 0.3s ease-in-out 0.7s;
	-webkit-animation-fill-mode:forwards; 
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	
	transition: color 0.3s ease-in-out;
}

@media screen and (max-height: 500px) {
	#footer {
	color: rgba(0,0,0,0);
	
	}
}

.container-middle {
	display: block;
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.back_to_login {
	font-size: 11px;
	opacity:0;  
	-webkit-animation:container2 ease-in 1;  
	-moz-animation:container2 ease-in 1;
	animation:container2 ease-in 1;
 
	animation: container2 0.3s ease-in-out 0.7s;
	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

h4 {
	opacity:0;  
	-webkit-animation:container2 ease-in 1;  
	-moz-animation:container2 ease-in 1;
	animation:container2 ease-in 1;
 
	animation: container2 0.3s ease-in-out 0.7s;
	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}

.reset {
	animation-duration: 0.35s !important;
}

.slower {
	animation-duration: 0.5s !important;
}

